<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_MVVM.Properties.Settings.UserCnn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_UserList;Persist Security Info=True;User ID=spheretech_environnement;Password=sph@dmin+environnement#59;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>